html {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	
}

#header {
	background-color: silver;
	text-align: left;
	position: fixed;
    top: 0; 
	left: 0;
    height: 150px;
	width: 100%;
	overflow: hide;
}
a:link {
	color: #52527a;
	text-decoration: none;
}
a:visited {
	color: #ff9966;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: none;
	background-color: #e5ccff;
	font-weight: bold;
}

#footer {
	background-color: silver;
	text-align: center;
	position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
	width: 100%;
	overflow: hide;
	
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right,white , #009999 , white);
}

.body {
	background-color: pink;
	margin: 0px auto;
    position: absolute;
    top: 150px;
    bottom: 75px;
    left: 0;
    right: 0;
	z-index: -1;
	overflow: auto;
	
}

h1,h2,h3 {
	color: Black;
	text-align: center;
	text-decoration: none;
	margin-bottom: 1px;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
p.center {
	text-align: center;
	color: black;
}

tr,td {
	text-align: center;
	padding: 3px;
}

table.bev {
	width: 50%;
	border: 2px dashed white;
}

table.bev tr:nth-child(odd) {
	background-color: white;
}