html {
  background-image: url(http://www.music-bazaar.com/album-images/vol1001/513/513861/2348273-big/Rira-No-Ki-cover.jpg);
  background-size: 350px 350px;
  background-repeat: no-repeat;
  background-position: 50% 5%;
 
}
body {
	margin-top: 375px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
 
}
table {
	background-color: #99b2e6;
}
		
h1,h2 {
	text-align: center;
	color: silver;
	text-decoration: none;
}
p.center {
	text-align: center;
	color: black;
}
p.names {
	font-style: Italic;
}
tr,td {
	text-align: center;
	font-style: italic;
}
